@keyframes scaleRotate{
    0%{
        transform: scaleX(1);
    }

    50%{
        transform: scaleX(-1);
    }

    100%{
        transform: scaleX(1);
    }
}

@keyframes vibration{
    0%{
        transform: translateY(0px) rotate(0deg);
    }

    50%{
        transform: translateY(-5px) rotate(-10deg);
    }

    60%{
        transform: translateY(-5px) rotate(10deg);
    }

    70%{
        transform: translateY(-5px) rotate(-10deg);
    }

    100%{
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotate2{
    0%{
        transform: rotate(0deg) translate(0) rotate(360deg);
    }

    100%{
        transform: rotate(360deg) translate(1) rotate(0deg);
    }
}

@keyframes s1A{
    0%{
        position: absolute;
        top: 200%;
    }

    40%{
        position: absolute;
        top: 0%;
    }
}

@keyframes s2A{
    0%{
        visibility: hidden;
        position: absolute;
        top: 200%;
    }

    5%{
        visibility: hidden;
        position: absolute;
        top: 200%;
    }

    100%{
        visibility: visible;
        position: absolute;
        top: 0%;
    }
}

@keyframes s3A{
    0%{
        visibility: hidden;
        position: absolute;
        top: 200%;
    }

    25%{
        visibility: hidden;
        position: absolute;
        top: 200%;
    }

    100%{
        visibility: visible;
        position: absolute;
        top: 52%;
    }
}

@keyframes versusv{
	0%{
		background-position: bottom;
		visibility: visible;
	}

	100%{
		background-position: top;
		visibility: visible;
	}
}

@keyframes versuso{
	0%{
		background-position: left;
		visibility: visible;
	}

	100%{
		background-position: right;
		visibility: visible;
	}
}

@keyframes vsV{
    0%{
        width: 200%;
		position: absolute;
		opacity: 1;
		z-index: 99;
    }

    50%{
		width: 5%;
		opacity: 1;
		z-index: -1;
    }

	100%{
		position: unset;
		opacity: 0.6;
		z-index: -1;
	}
}

@keyframes vsO{
    0%{
    	height: 200%;
			position: absolute;
			opacity: 1;
    }

    50%{
			height: 5%;
			opacity: 1;
    }

	100%{
		position: unset;
		opacity: 0.6;
	}
}

@keyframes s1{
	0%{
		visibility: hidden;
	}

	25%{
		position: absolute;
		right: 2000px;
		visibility: hidden;
	}

	50%{
		position: absolute;
		right: 0px;
		visibility: visible;
	}
}

@keyframes s2{
	0%{
		visibility: hidden;
	}

	25%{
		position: absolute;
		left: 2000px;
		visibility: hidden;
	}

	50%{
		position: absolute;
		left: 0px;
		visibility: visible;
	}
}