@font-face {
    font-family: "peffo";
    src: url(../font/IntroDemo-BlackCAPS.ttf);
}

body{
    height: 100vh;
    margin: 0;
    background-image: url(../img/sfondi/scelta.png);
    background-size: cover;
    background-position: center;
}

#btnContinua{
    position: fixed;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contPodio{
    width: 45%;
    height: 100%;
    display: flex;
}

#giocatore1, #giocatore2{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.base{
    width: 100%;
    border-radius: 2vw 2vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#giocatore1 > img, #giocatore2 > img{
    width: 60%;
    height: auto;
}

#giocatore1 > .base{
    background: linear-gradient(to top right,rgb(98, 1, 1), red);
}

#giocatore2 > .base{
    background: linear-gradient(to top right,rgb(0, 0, 87), blue);  
}

.tabella{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.contTabella{
    height: 45%;
    width: 100%;
    overflow-y: scroll;
}

.contTabella::-webkit-scrollbar{
    background-color: transparent;

}

.contTabella::-webkit-scrollbar-thumb{
    background-color: #1a2639d0;
    border-radius: 10px;
}

thead > tr > td{
    background-color: #1a2639;
}

tbody{
    height: fit-content;
}

#tab1, #tab2{
    width: 100%;
    border-collapse:collapse;
}

tr{
    width: 100%;
    height: 10vh;
}

td{
    height: 100%;
    width: 45%;
    font-family: "peffo";
    color: white;
    font-size: 1.5vw;
    padding: 5%;
}

.base > span{
    font-family: "peffo";
    color: white;
    font-size: 1.5vw;
}

.puntTitle{
    margin: 0;
    padding: 0;
    font-family: "peffo";
    color: #1a2639;
    font-size: 2vw;
}

#monete1, #monete2{
    display: flex;
    align-items: center;
    color: black;
    width: fit-content;
}

.money{
    font-size: 1.5vw;
    color: purple;
    padding-left: 5%;
}

#btnReady{
	background-color: #800080d0;
	border: none;
	color: white;
	font-family: "peffo";
	font-size: 1vw;
	position: absolute;
	left: 2%;
	height: 5%;
	width: 10%;
	top: 2%;
	border-radius: 1vw;
}

#btnReady:hover{
	background-color: #1a2639d0;
}

@media screen and (max-width: 500px){
    main{
        flex-direction: column;
    }

    .contPodio{
        width: 80%;
        height: 45%;
    }

    .tabella{
        height: 45%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    .contTabella{
        height: 100%;
        width: 45%;
    }

    .contTabella::-webkit-scrollbar{
        display: none;
    }

}
